#be-booking-form {
    width: 100%;
    max-width: 1160px;
    margin: 10px auto;
}

#tl-booking-cart {
    z-index: 1 !important;
}

#block-search,
#block-search * {
    box-sizing: border-box;
}

#block-search {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    background: rgba(250, 248, 242, 0.95);
    box-shadow: 0 -3px 26px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(8px);
}

.be-container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 30px;
}

body:has(#be-booking-form) a[href="https://www.instagram.com/safir_hotell/"],
body:has(#be-booking-form) a[href="https://t.me/safirhotell"],
body:has(#be-booking-form) .scroll-to-top {
    display: none;
}

body:not(body:has(#be-booking-form)) {
    padding-bottom: 93px;
}

@media screen and (max-width: 1220px) {
    #block-search {
        position: static;
        width: calc(100% - 30px);
        margin: 10px auto;
        background: #FAF8F2;
        box-shadow: none;
        backdrop-filter: none;
        border: 1px solid #D5C6AE;
        border-radius: 12px;
    }

    #block-search.block-search--offers {
        margin-top: 80px;
    }

    body:not(body:has(#be-booking-form)) {
        padding-bottom: 0;
    }
}